@import '~antd/dist/antd.css';

.ant-layout-header {
    background-color: black;
    height: 100px;
    text-shadow: 2px 2px 3px whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 40px;
    height: auto;
  }